* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
    background: url(../../public/assets/Home.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    
    section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 20px;
    backdrop-filter: blur(6px);
    }
    
    .contenedor {
        color: white;
        text-align: center;
        position: relative;
        width: 90%;
        max-width: 500px;
        min-height: 500px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.8);
        height: auto;
        padding: 20px 25px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px auto;
        padding-bottom: 50px;
    }
    
    .contenedor h2 {
        font-size: 2rem;
        color: #fff;
        text-align: center;
    }

    .contenedor h3 {
        margin-top: 20px;
        font-size: 1rem;
        color: #fff;
        text-align: center;
    }
    
    .contenedor a {
        width: 100%;
        height: 40px;
        background-color: #fff;
        border: none;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        padding: 10px 20px;
        margin: 5px 0;
        border-radius: 5px;
        cursor: pointer;
    }

    .input-contenedor {
    position: relative;
    margin: 20px 0;
    width: 100%;
    border-bottom: 2px solid #fff;
    }
    
    .input-contenedor label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.6s;
    font-weight: bold;
    }
    
    .input-contenedor input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 5px 10px;
    color: #fff;
    }
    
    .input-contenedor i {
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
    }
    
    
    .fecha::-webkit-datetime-edit {
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
    
    
    .fecha::-webkit-calendar-picker-indicator {
        display: none;
    }
    
    .fecha::-ms-clear {
        display: none;
    }
    
    .fecha::-moz-clear {
        display: none;
    }
    
    
    input[type="time"] {
        padding: 10px 10px 10px 40px; 
        color: #fff; 
        font-size: 18px; 
        font-weight: bold; 
        font-family: Arial, Helvetica, sans-serif; 
        text-transform: uppercase; 
        background-color: transparent; 
        width: 150px;
        appearance: none; 
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    
    input[type="time"]::-webkit-inner-spin-button,
    input[type="time"]::-webkit-calendar-picker-indicator {
        display: none;
    }
    
    input[type="time"]:focus {
        border-color: #fff; 
        outline: none;
    }
    
    .input-contenedor select {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.6s;
    font-weight: bold;
    }
    
    select{
    padding: 10px;
    font-size: 18px;
    background-color: transparent; 
    color: #fff; 
    width: 200px; 
    
    }
    
    option{
        font-size: 18px; 
        color: black;
    
    }
    
    .button input {
    width: 100%;
    height: 40px;
    border-radius: 45px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: 0.4s;
    }
    
    .button input:hover {
    opacity: 0.9;
    color: #2ad308;
    }
    
    input:focus ~ label,
    input:valid ~ label {
    top: -5px;
    }
    .error-contenedor {
    background-color: rgb(202, 93, 93);
    padding: 15px 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    }
    
    .error-contenedor p {
    font-size: 1rem;
    }
    
    section .contenedor .formulario i{
    color: #2ad308;
    }
    
    /* Media Queries para pantallas pequeñas */
    @media (max-width: 768px) {
    .contenedor {
    width: 100%;
    padding: 10px;
    }
    
    .contenedor h2 {
    font-size: 1.8rem;
    }
    
    .input-contenedor input {
    font-size: 0.9rem;
    }
    
    .button input {
    height: 50px;
     }
    }